<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="862f873a-4180-4b01-9484-3d76fb7cd252" name="TestSuite" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="862f873a-4180-4b01-9484-3d76fb7cd252fileName">TestSuite</con:setting>
  </con:settings>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
